PORTOS_PORT=5555

PGPASSWORD=change-this-password

PORTOS_DATA_DIR=/mnt/user/appdata/portos/data
PORTOS_DB_DIR=/mnt/user/appdata/portos/postgres
PORTOS_WORKSPACE_DIR=/mnt/user/appdata/portos/workspace

PORTOS_SERVER_MAX_MEMORY=4G

PORTOS_UNRAID_APPS=portos-server,portos-cos

PORTOS_WORKSPACE_ROOTS=/workspace